@model IEnumerable<MenuItem>
<div class="navbar-nav">
    @foreach (var item in Model)
    { @if (item.IsPage)
        {
            <a class="btn nav-btn btn-sm me-2 @item.Active" asp-area="@item.Area" asp-page="@item.Page">
                @item.Text
            </a>
        }
        else
        {
            <a class="btn nav-btn btn-sm me-2 @item.Active" asp-controller="@item.Controller" asp-action="@item.Action">
                @item.Text
            </a>
        }
    }
</div>